
@{
    ViewBag.Title = "Finalizar Empresa";
}

<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 20%">
        1: Elección de cuenta
    </div>
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 20%">
        2: Información inicial
    </div>
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 20%">
        3: Descripción empresa
    </div>
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 20%">
        4: Inicio de sesión
    </div>
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 20%">
        5: Finalizar
    </div>
</div>
<!-- Texto de Bienvenida -->
<h1>Registro de Empresas</h1>
<h3>Finalización</h3>
<br />
<p>Su registro ha sido exitoso. Recibirá una notificación en el correo electrónico proporcionado cuando su inscripción sea autorizada.</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-5 col-md-10" >
                <input type="submit" value="Finalizar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
    <!-- Informacion inicial -->
   <!-- <div class="form-group"> -->
        <!-- Espacio para situar los botones -->


        <!-- Este es el verdadero boton esta desactivado para no conectarlo
            <button type="submit" class="btn btn-primary btn-md col-md-1">Continuar</button> -->
<br />
