
@{
    ViewBag.Title = "enterprises";
}

<h2>Ver Empresas</h2>

<p>Estimado(a) usuario: por favor indique el criterio de búsqueda para las empresas que desea ver</p>

<li role="presentation" class="divider-line"></li>

<form action="">
    <div class="container">
        <input type="radio" id="pendientes" name="pendientes" value="pendientes" onclick="pendiente()"> Pendientes de aprobar <br />
        <input type="radio" id="seleccion" name="seleccion" value="seleccion" onclick="showSectors()"> Según sector productivo
    </div>
</form>

<div class="container">
    <div class="sectoresDiv">
        <select id="sectoresSelect" class="col-md-5" onclick="" style="display:none">
            <option value="sector" default selected>-- Sectores Productivos Disponibles --</option>
        </select>
    </div>
</div>

<br />
<div class="container">
    <div class="table-responsive">
        <table class="table" id="enterpriseTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre Empresa</th>
                    <th>Acción</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    var enterprise = {
        NombreEstado: "Inactiva"
    }

    function getLinkEnterprise(idEnterprise) {
        var more = "<button type='button' class='btn btn-info' onclick='enterpriseClicked(" +
            idEnterprise + ")'> <span class='glyphicon glyphicon-zoom-in' aria-hidden='true' onclick='enterpriseClicked(" +
            idEnterprise + ")'></span> Ver empresa </button>";

        return more;
    }


    function getData() {
        var importedData;
        $(document).ready(function () {
            $.ajax({
                url: "https://talentotec-api.azurewebsites.net/api/State_Enterprise",
                type: "GET",
                data: enterprise,
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        $("#enterpriseTable").append("<tbody><tr>" + "<td>" + i + 1 + "</td>" +
                                                     "<td>" + data[i].NombreEmpresa + "</td>" +
                                                     "<td>" + getLinkEnterprise(data[i].ID) + "</td>" +
                                                     "</tr></tbody>");
                    }
                    importedData = data;
                },
                error: function(e1, e2, e3){
                    console.log(e3 + " " + e2);
                }
            })
        })
    }

    function createTable() {
        $("#enterpriseTable").append("<thead> <tr> <th> # </th>" +
                                    "<th> Nombre Empresa </th>"+
                                    "<th> Acción </th> </tr> </thead>");
    }

    function updateTable() {
        $("#enterpriseTable tr").remove();
        createTable();

        for (var i = 0; i < 2; i++) {
            $("#enterpriseTable").append("<tbody><tr>" + "<td>" + i + 1 + "</td>" +
                                                         "<td>" + "Ejemplo" + "</td>" +
                                                         "<td>" + getLinkEnterprise(i + 1) + "</td>" +
                                                         "</tr></tbody>");
        }
    }

    function pendiente(){
        var x = document.getElementById("pendientes");
        if (x.checked) {
            var y = document.getElementById("seleccion");
            y.checked = false;

            var selection = document.getElementById("sectoresSelect");
            selection.setAttribute("style", "display:none");

            updateTable();
        }
    }

    function showSectors() {
        $("#enterpriseTable tr").remove();

        var x = document.getElementById("seleccion");
        if (x.checked) {
            var y = document.getElementById("pendientes");
            y.checked = false;

            var selection = document.getElementById("sectoresSelect");
            selection.setAttribute("style", "display:block");
        }
    }

    function enterpriseClicked(idEnterprise) {
        sessionStorage.setItem("IdEmpresa", idEnterprise);
        window.location = 'see_enterprise';
    }
</script>