
@{
    ViewBag.Title = "Acerca de";
    ViewBag.Message = "Centro de Vinculación";
    ViewBag.Creator1 = "Dávila Padrón Oswaldo";
    ViewBag.Creator2 = "Porras Alfaro Estefanny";
}

<h1>@ViewBag.Title</h1>
<br />
<h4>Este sitio web fue realizado por:</h4>
<h5>@ViewBag.Creator1</h5>
<h5>@ViewBag.Creator2</h5>