@{
    ViewBag.Title = "Contáctenos";
    ViewBag.Message = "Centro de Vinculación";

}
<h1>@ViewBag.Title</h1>
<br />
<h4>Para más información contáctese con:</h4>
<h3>@ViewBag.Message</h3>

<address>
    Tecnológico de Costa Rica<br>
    Cartago, Costa Rica<br>
    <abbr title="Teléfono">Teléfono:</abbr> (506) 2550-2262  / (506) 2550-2330<br>
    <abbr title="Fax">Fax:</abbr> (506) 2551-6343<br>

    Correo electrónico: <a href="mailto:TalentoTEC@itcr.ac.cr">TalentoTEC@itcr.ac.cr</a> /
    <a href="mailto:talentotec.itcr@gmail.com">talentotec.itcr@gmail.com</a><br>
</address>

