
@{
    ViewBag.Title = "Fechas Importantes";
   /* Layout = "~/Views/Shared/_Layout.cshtml";*/
}

<h1>Fechas Importantes</h1>

<br />
<div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Solicitar Práctica Profesional</h4>
        <p class="list-group-item-text">21/Agosto/2016</p>
    </a>
    <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading">Inicio Práctica Profesional</h4>
        <p class="list-group-item-text">22/Agosto/2016</p>
    </a>
    <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading">Período de vacaciones en TEC</h4>
        <p class="list-group-item-text">23/Agosto/2016</p>
    </a>

</div>
<br />
<br />


