@{
    ViewBag.Title = "Inicio";
}

<!--<div class="jumbotron"> -->
    <h1>Bienvenido a Talento TEC</h1>
    <br />
    <img src="~/images/Talento TEC.png" class="img-thumbnail center-block" />
    <br />
    <br />

    <p>Talento TEC® es un punto de encuentro virtual en el que nuestros profesionales, 
    los estudiantes de práctica profesional y los graduados tienen un espacio propicio 
    para interrelacionarse con el sector industrial nacional e internacional.</p>
    <br />
    <p>Talento TEC® le garantiza al sector productivo el acceso a un bando de datos que S
    proporciona información sobre la oferta de graduados y de estudiantes de práctica 
    profesional que han recivido una sólida formación académica para óptimos resultados. </p>

   <!--</div>-->
