@{
    ViewBag.Title = "Términos de Uso";
}

<!-- Texto de Términos de uso -->
<h1>Términos de Uso</h1>
<br />
<ul class="list-group">
    <li class="list-group-item">1. El Tecnológico de Costa Rica, en adelante TEC, garantiza que ha validado la condición de graduado y de estudiante de práctica de esta Institución, inscritos en Talento TEC.</li>
    <li class="list-group-item">2. El Tecnológico de Costa Rica no se hace responsable por los acuerdos o negociaciones entre las partes derivadas del uso de esta aplicación.</li>
    <li class="list-group-item">3. Salvo lo expresado en el punto 1 de las presentes condiciones, cualquier información, productos o servicios relacionados con Talento TEC que proporcionen los usuarios, el TEC no se hace responsable de ningún tipo de garantía, expresa o implícita, incluyendo comerciabilidad, o el ajuste para el uso de un propósito en particular.</li>
    <li class="list-group-item">4. El Usuario acepta que el Tecnológico de Costa Rica no estará obligado, por ninguna pérdida o daños, reales o consecuentes, que estén dentro o fuera de estos Términos y Condiciones, o por capacidad o incapacidad de utilizar Talento TEC.</li>
    <li class="list-group-item">5. El Usuario es responsable de cualquier daño y/o perjuicio de cualquier naturaleza que ocasionara por incumplir los presentes Términos y Condiciones, por lo que libera al Tecnológico de Costa Rica de toda responsabilidad legal.</li>
    <li class="list-group-item">6. El password o contraseña que le permite el acceso a Talento Tec, no deberá ser revelado o compartido con terceras personas o ser usado para propósitos no autorizados o pretendidos por esta aplicación</li>
    <li class="list-group-item">7. El TEC no otorga garantía alguna, expresa o implícita, acerca de la veracidad, exactitud o confiabilidad de la información incluida en el Talento TEC por los usuarios. Usted reconoce y declara que la confianza por usted depositada en cualquier material de esta procedencia, incluido en el Talento TEC, se hará bajo su propio riesgo y bajo el principio de buena fe.</li>
    <li class="list-group-item">8. El TEC no otorga garantía alguna, expresa o implícita, de que los graduados o estudiantes obtendrán un empleo o un proyecto de práctica a través Talento Tec, o que los empresarios lograrán reclutar o contratar el recurso humano requerido al publicar sus oferta. Tampoco se garantiza la calidad en el desempeño las funciones que tales personas deberán realizar.</li>
    <li class="list-group-item">9. Los usuarios reconocen y aceptan que son los únicos responsables por los datos de su oferta, perfil o currículum y por la información incluida en los mismos que son publicados en Talento TEC.</li>
    <li class="list-group-item">10. Los usuarios conocen y aceptan que el TEC podrá contactarlos para el envío o intercambio de información relacionada con sus actividades académicas y de vinculación.</li>
</ul>
<br />
<br />