
@{
    ViewBag.Title = "About";
}

<!-- Texto de Bienvenida -->
<h1>Empresarios</h1>
<br />
<p>
    Podrá publicar ofertas de trabajo y propuestas de proyectos para prácticas profesionales, 
    que serán vistas por el selecto grupo de graduados del TEC y los estudiantes de práctica 
    profesional. Recibirá un aviso cada vez que una persona aplique a sus ofertas y además, 
    mediante la consulta de los perfiles de los candidatos, la aplicación le permite administrar 
    su selección de oferentes. Adicionalmente, podrá recibir información de las actividades 
    del Instituto Tecnológico de Costa Rica. Después de ingresar  sus datos, el ITCR verificará 
    la validez de la información de su empresa.  Este proceso durará de 3 a 5 días hábiles y 
    se le informará cuando puede publicar sus ofertas.
</p>
<br />
<li role="presentation" class="divider-line"></li>
<br />
<h1>Costos</h1>
<br />
<p>La inscripción o membresía por uso de esta aplicación, puede implicar un costo monetario para el usuario. </p>
<br />
<p>
    El Instituto Tecnológico de Costa Rica se reserva el derecho de establecer las tarifas en 
    el momento que lo considere oportuno, comunicándolo a los interesados. En cualquier caso, 
    este cobro se establece con fines no lucrativos.
</p>
<br />