
@{
    ViewBag.Title = "Información Estudiantes";
}

<!-- Texto de Bienvenida -->
<h1>Estudiantes de Práctica Profesional</h1>
<br />
<p>
    Podrás encontrar la demanda de proyectos de práctica profesional que las empresas publiquen en 
    Talento TEC, así como toda la información para que la contactes. Para hacer uso de esta aplicación, 
    deberás tener menos de ocho créditos faltantes del plan de estudios. 
    En la siguiente casilla se encuentra la información de contacto de los coordinadores de práctica profesional:
</p>
<br />

<div class="dropdown" align="center">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Seleccione una escuela
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-center" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem"><a href="#">Escuela de Ingeniería en Computación</a></li>
        <li><a href="#">Escuela de Administración de Empresas</a></li>
        <li><a href="#">Escuela de Ingeniería en Computadores</a></li>
    </ul>
</div>