
@{
    ViewBag.Title = "Información Estudiantes";
}

<!-- Texto de Bienvenida -->
<h1>Estudiantes de Práctica Profesional</h1>
<br />
<p>
    Podrás encontrar la demanda de proyectos de práctica profesional que las empresas publiquen en 
    Talento TEC, así como toda la información para que la contactes. Para hacer uso de esta aplicación, 
    deberás tener menos de ocho créditos faltantes del plan de estudios. 
    En la siguiente casilla se encuentra la información de contacto de los coordinadores de práctica profesional:
</p>
<br />

<div class="dropdown" id="dwnSchools" align="center">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Seleccione una escuela
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-center" role="menu" aria-labelledby="menu1" >
        
    </ul>
</div>
<br />
<center><h4 id="titleSchool"></h4></center>
<div class="table-responsive" >
    <table class="table" id="coordinators">

    </table>
</div>

<script>


    $(document).ready(function () {
        $.ajax({
            url: "http://talentotec-api.azurewebsites.net/api/Schools",
            type: "GET",
            dataType: "text",
            success: function (data) {
                //  console.log(data);
                var json = $.parseJSON(data);
                for (var i = 0; i < json.length; i++) {
                    $("#dwnSchools ul").append(
                        $("<li>").attr("id",i).attr("onclick","showSchoolInfo("+i+")").append(
                        $("<a>").attr("href", "#").append(json[i])));
                }
            },
            error: function (e1, e2, e3) {
                console.log(e3 + " " + e2);
            }
        });
    });

    function showSchoolInfo(ID) {
        //console.log("actions");
        var p = $("#"+ID).text();
      //  console.log(p);

        // llamamos a la api
        var school = {
            nombreEscuela : p
        }
        $.ajax({
            url: "http://talentotec-api.azurewebsites.net/api/Coordinators",
            type: "POST",
            dataType: "json",
            data:school,
            success: function (data) {
                /*
                EmailCoordinador
                NombreCoordinador
                TelefonoCoordinador
                */
                if (data.length != 0) {
                    for (var i = 0; i < data.length; i++) {
                        $('#coordinators tr').remove();
                        initializeTable();
                        $("#titleSchool").html(p);
                        $("#coordinators").append("<tbody> <tr><td>" + data[i].NombreCoordinador + "</td>" +
                                                  "<td>" + data[i].EmailCoordinador + "</td>" +
                                                  "<td>" + data[i].TelefonoCoordinador + "</td></tr> </tbody>");
                    }
                }
                else {
                    $("#titleSchool").html("");
                    $('#coordinators tr').remove();
                }
            },
            error: function (e1, e2, e3) {
                console.log(e3 + " " + e2);
            }
        });
    }

    function initializeTable() {
        /*
                <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo electrónico</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        */
        $("#coordinators").append("<thead> <tr> <th>Nombre</th>"+
                                  "<th>Correo electrónico</th>"+
                                  "<th>Teléfono</th> </tr> </thead>");
    }
    
</script>