
@{
    ViewBag.Title = "Información Estudiantes";
}

<!-- Texto de Bienvenida -->
<h1>Estudiantes de Práctica Profesional</h1>
<br />
<p>
    Podrás encontrar la demanda de proyectos de práctica profesional que las empresas publiquen en 
    Talento TEC, así como toda la información para que la contactes. Para hacer uso de esta aplicación, 
    deberás estar autorizado por el Coordinador de Práctica Profesional de tu Escuela. 
    Para contactar con el coordinador, selecciona en la siguiente casilla:
</p>
<br />

<div class="dropdown" align="center">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Seleccione una escuela
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-center" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem"><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
    </ul>
</div>