
@{
    ViewBag.Title = "About";
}

<!-- Texto de Bienvenida -->
<h1>Graduados</h1>
<br />
<p>
    Podrá publicar su perfil profesional y recibir información de las ofertas 
    laborales de las empresas. Talento TEC le permite aplicar y llevar un 
    seguimiento a las ofertas de su interés. Además, podrá ver y recibir 
    información de las actividades del Tecnológico de Costa Rica.
</p>
