
@{
    ViewBag.Title = "Ver Oferta";
}

<h2>Oferta Laboral</h2>
<h3>Información de la oferta</h3>
<form>
    <div class="form-horizontal">
        <li role="presentation" class="divider-line"></li>

        <div class="form-group">
            <label for="text" class="control-label col-xs-6 col-sm-4">Empresa:</label>
            <div class="col-xs-6 col-sm-4">
                <input type="text" id="nombre" class="form-control" readonly disabled/>
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="control-label col-xs-6 col-sm-4">Puesto:</label>
            <div class="col-xs-6 col-sm-4">
                <input type="text" id="nombre" class="form-control" readonly disabled />
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="control-label col-xs-6 col-sm-4">Descripción de la oferta:</label>
            <div class="col-xs-6 col-sm-4">
                <textarea id="nombre" class="form-control" rows="7" readonly disabled>

                </textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="control-label col-xs-6 col-sm-4">Requisitos:</label>
            <div class="col-xs-6 col-sm-4">
                <textarea id="nombre" class="form-control" rows="7" readonly disabled></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="control-label col-xs-6 col-sm-4">Salario:</label>
            <div class="col-xs-6 col-sm-4">
                <input type="text" id="nombre" class="form-control" readonly disabled/>
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="control-label col-xs-6 col-sm-4">Fecha límite de recepción de aplicantes:</label>
            <div class="col-xs-6 col-sm-4">
                <input type="text" id="nombre" class="form-control" readonly disabled />
            </div>
        </div>
        <li role="presentation" class="divider-line"></li>
        <div class="form-group">
            <label for="text" class="control-label col-xs-6 col-sm-4">Persona de Contacto</label>
        </div>
        <div class="form-group">
            <label for="text" class="control-label col-xs-6 col-sm-4">Nombre:</label>
            <div class="col-xs-6 col-sm-4">
                <input type="text" id="nombre" class="form-control" readonly disabled />
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="control-label col-xs-6 col-sm-4">Correo:</label>
            <div class="col-xs-6 col-sm-4">
                <input type="text" id="nombre" class="form-control" readonly disabled />
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="control-label col-xs-6 col-sm-4">Teléfono:</label>
            <div class="col-xs-6 col-sm-4">
                <input type="text" id="nombre" class="form-control" readonly disabled />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-xs-6 col-sm-4 ">
                <input type="button" value="Aplicar" onclick="addTitle()" class="btn btn-lg btn-success" />

                <input type="button" value="No Aplicar" onclick="addTitle()" class="btn btn-lg btn-danger" />


            </div>
        </div>
        <br />

    </div>

</form>