
@{
    ViewBag.Title = "Ver Ofertas";
}

<h2>Ofertas publicadas</h2>
<p>Estimado(a) Egresado: por favor indique el criterio de búsqueda para las ofertas que desea ver</p>

<li role="presentation" class="divider-line"></li>

<form action="">
    <div class="container">
        <input type="radio" id="todas" name="todas" value="todas" onclick="allClicked()"> Todas <br />
        <input type="radio" id="aplicadas" name="aplicadas" value="aplicadas" onclick="appliedClicked()"> Solamente las que aplicó <br />
        <input type="radio" id="seleccion" name="seleccion" value="seleccion" onclick="showCarrers()"> Seleccione una carrera
    </div>
</form>

<div class="container">
    <div class="carrerasDiv">
        <select id="carrerasSelect" class="col-md-5" onclick="updateTable()" style="display:none">
            <option value="carrera" default selected>-- carreras disponibles --</option>
        </select>
    </div>
</div>


<br />
<div class="container">
    <div class="table-responsive">
        <table class="table" id="offerTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Empresa</th>
                    <th>Puesto</th>
                    <th>Fecha Límite</th>
                    <th>Estado Aplicación</th>
                    <th>Acción</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- botones
    select
    table
    icons
    -->
<script>
    var arrayOffers = new Array();

    console.log('@Session["TipoCuenta"]');

    var offer = {
        idAplicante: @Session["ID"],
        tipoCuenta: '@Session["TipoCuenta"]',
        carreraSeleccionada: "", //vacio en caso de no seleccionar
        tipoBusqueda: 3, // 1: carrera Seleccionada. 2: ofertas aplicadas, 3: todas
    }

    var i = 1;
    var yes = "<span class='glyphicon glyphicon-ok' aria-hidden='true'></span> Aplicado";
    var no = "<button type='button' class='btn btn-danger'> <span class='glyphicon glyphicon-remove' aria-hidden='true'></span> No aplicado </button>";
    var more = "<button type='button' class='btn btn-info' onclick='offerClicked()'> <span class='glyphicon glyphicon-zoom-in' aria-hidden='true' onclick='offerClicked()'></span> Ver más </button>";
    function getMore(idOferta){
        var more = "<button type='button' class='btn btn-info' onclick='offerClicked(" + 
            idOferta +")'> <span class='glyphicon glyphicon-zoom-in' aria-hidden='true' onclick='offerClicked("+ 
            idOferta + ")'></span> Ver más </button>";
        return more;
    }

    function stateApplication(state){
        if(state == "Aplicado"){
            return yes;
        }
        else{
            return no;
        }
    }

    function getData(){
        var importedData;
        console.log("OFFER "+offer);
        $(document).ready(function () {
            $.ajax({
                url: "https://talentotec-api.azurewebsites.net/api/Index_Offers",
                type: "POST",
                data: offer,
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        // crea la tabla
                        console.log(data[i]);
                        $("#offerTable").append("<tbody><tr>" + "<td>" + i+1 + "</td>" +
                            "<td>" + data[i].NombreEmpresa + "</td>" +
                            "<td>" + data[i].Puesto + "</td>" +
                            "<td>" + data[i].FechaLimite + "</td>" +
                            "<td>" + stateApplication(data[i].Estado) + "</td>" +
                            "<td>" + getMore(data[i].IDOferta) + "</td>" +
                            "</tr></tbody>");
                    }
                    importedData = data;
                },
                error: function (e1, e2, e3) {
                    console.log(e3 + " " + e2);
                }
            });
        });
        return importedData;
    }

    function createTable(){
        $("#offerTable").append("<thead> <tr> <th>#</th>"+
                                    "<th>Empresa</th>"+
                                    "<th>Puesto</th>"+
                                    "<th>Fecha Límite</th>"+
                                    "<th>Estado Aplicación</th>"+
                                    "<th>Acción</th> </tr> </thead>");
    }

    function updateTable() {
        console.log("table");

        $("#offerTable tr").remove();
        createTable();

        var data = getData();
        console.log(data);

        var table = document.getElementById("offerTable");
        var row = table.insertRow(i);
        var cel1 = row.insertCell(0);
        var cel2 = row.insertCell(1);
        var cel3 = row.insertCell(2);
        var cel4 = row.insertCell(3);
        var cel5 = row.insertCell(4);
        var cel6 = row.insertCell(5);

        console.log("ID" + getMore(1));
        cel1.innerHTML = i;
        cel2.innerHTML = "Centro de Vinculación TEC";
        cel3.innerHTML = "Encargado de Talento TEC";
        cel4.innerHTML = "20/nov/2016";
        cel5.innerHTML = stateApplication("Aplicado");
        cel6.innerHTML = getMore(1);
        arrayOffers.push(1);
        i++;
    }

    function allClicked() {
        i = 1;
        var x = document.getElementById("todas");
        if (x.checked) {
            var y = document.getElementById("seleccion");
            y.checked = false;
            var z = document.getElementById("aplicadas");
            z.checked = false;

            var selection = document.getElementById("carrerasSelect");
            selection.setAttribute("style", "display:none");

            // busca a todos
            offer.tipoBusqueda = 3;

            updateTable();
        }
    }

    function appliedClicked() {
        i = 1;
        var x = document.getElementById("aplicadas");
        if (x.checked) {
            var y = document.getElementById("seleccion");
            y.checked = false;
            var z = document.getElementById("todas");
            z.checked = false;

            var selection = document.getElementById("carrerasSelect");
            selection.setAttribute("style", "display:none");

            // Tipo Busqueda: aplicadas
            offer.tipoBusqueda = 2;

            updateTable();
        }
    }

    function showCarrers() {
        i = 1;
        var x = document.getElementById("seleccion");
        if (x.checked) {
            var y = document.getElementById("todas");
            y.checked = false;
            var z = document.getElementById("aplicadas");
            z.checked = false;

            var selection = document.getElementById("carrerasSelect");
            selection.setAttribute("style", "display:block");

            // carrera;
            offer.carreraSeleccionada = $('.carrerasDiv option:selected').val();
            if (offer.carreraSeleccionada != 'carrera'){
                updateTable();
                // tipo de busqueda: carrera
                offer.tipoBusqueda = 1;

                console.log("go");
            }
        }
    }

    function offerClicked(idOferta) {
        sessionStorage.setItem("IdOferta", idOferta);
        window.location = "ver_oferta";
    }

</script>