
@{
    ViewBag.Title = "Ver Ofertas";
}

<h2>Ofertas publicadas</h2>
<p>Estimado(a) Egresado: por favor indique el criterio de búsqueda para las ofertas que desea ver</p>

<li role="presentation" class="divider-line"></li>

<form action="">
    <div class="container">
        <input type="radio" id="todas" name="todas" value="todas" onclick="allClicked()"> Todas <br />
        <input type="radio" id="aplicadas" name="aplicadas" value="aplicadas" onclick="appliedClicked()"> Solamente las que aplicó <br />
        <input type="radio" id="seleccion" name="seleccion" value="seleccion" onclick="showCarrers()"> Seleccione una carrera
    </div>
</form>

<div class="container">
    <div class="carrerasDiv">
        <select id="carrerasSelect" class="col-md-5" onclick="updateTable()" style="display:none">
            <option value="carrera" default selected>-- carreras disponibles --</option>
        </select>
    </div>
</div>


<br />
<div class="container">
    <div class="table-responsive">
        <table class="table" id="offerTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Empresa</th>
                    <th>Puesto</th>
                    <th>Fecha Límite</th>
                    <th>Estado Aplicación</th>
                    <th>Acción</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- botones
    select
    table
    icons
    -->
<script>

    console.log('@Session["TipoCuenta"]');

    var offer = {
        idAplicante: @Session["ID"],
        tipoCuenta: '@Session["TipoCuenta"]',
        carreraSeleccionada: "", //vacio en caso de no seleccionar
        tipoBusqueda: 3, // 1: carrera Seleccionada. 2: ofertas aplicadas, 3: todas
    }
    /*
    $(document).ready(function () {
        $.ajax({
            url: "https://talentotec-api.azurewebsites.net/api/Index_Offers",
            type: "POST",
            data: offer,
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    //<option value="PAIS_PAIS">pais pais</option>
                        console.log(data[i]);
                }
            },
            error: function (e1, e2, e3) {
                console.log(e3 + " " + e2);
            }
        });
    });*/


    var i = 1;
    var yes = "<span class='glyphicon glyphicon-ok' aria-hidden='true'></span>";
    var no = "<button type='button' class='btn btn-danger'> <span class='glyphicon glyphicon-remove' aria-hidden='true'></span> No aplicado </button>";
    var more = "<button type='button' class='btn btn-info' onclick='offerClicked()'> <span class='glyphicon glyphicon-zoom-in' aria-hidden='true' onclick='offerClicked()'></span> Ver más </button>";

    function getData(){
        var importedData;
        console.log("OFFER "+offer);
        $(document).ready(function () {
            $.ajax({
                url: "https://talentotec-api.azurewebsites.net/api/Index_Offers",
                type: "POST",
                data: offer,
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        //<option value="PAIS_PAIS">pais pais</option>

                        console.log(data[i]);


                    }
                    importedData = data;
                },
                error: function (e1, e2, e3) {
                    console.log(e3 + " " + e2);
                }
            });
        });

        return importedData;
    }

    function createTable(){
        /*<thead>
                <tr>
                    <th>#</th>
                    <th>Empresa</th>
                    <th>Puesto</th>
                    <th>Fecha Límite</th>
                    <th>Estado Aplicación</th>
                    <th>Acción</th>
                </tr>
            </thead>*/
        $("#offerTable").append("<thead> <tr> <th>#</th>"+
                                    "<th>Empresa</th>"+
                                    "<th>Puesto</th>"+
                                    "<th>Fecha Límite</th>"+
                                    "<th>Estado Aplicación</th>"+
                                    "<th>Acción</th> </tr> </thead>");
    }

    function updateTable() {
        console.log("table");

        $("#offerTable tr").remove();
        createTable();

        var data = getData();
        console.log(data);
        /*
        var table = document.getElementById("offerTable");
        var row = table.insertRow(i);
        var cel1 = row.insertCell(0);
        var cel2 = row.insertCell(1);
        var cel3 = row.insertCell(2);
        var cel4 = row.insertCell(3);
        var cel5 = row.insertCell(4);
        var cel6 = row.insertCell(5);


        cel1.innerHTML = i;
        cel2.innerHTML = "Centro de Vinculación TEC";
        cel3.innerHTML = "Encargado de Talento TEC";
        cel4.innerHTML = "20/nov/2016";
        cel5.innerHTML = no;
        cel6.innerHTML = more;*/

        i++;
    }

    function allClicked() {
        var x = document.getElementById("todas");
        if (x.checked) {
            var y = document.getElementById("seleccion");
            y.checked = false;
            var z = document.getElementById("aplicadas");
            z.checked = false;

            var selection = document.getElementById("carrerasSelect");
            selection.setAttribute("style", "display:none");

            // busca a todos
            offer.tipoBusqueda = 3;

            updateTable();
        }
    }

    function appliedClicked() {
        var x = document.getElementById("aplicadas");
        if (x.checked) {
            var y = document.getElementById("seleccion");
            y.checked = false;
            var z = document.getElementById("todas");
            z.checked = false;

            var selection = document.getElementById("carrerasSelect");
            selection.setAttribute("style", "display:none");

            // Tipo Busqueda: aplicadas
            offer.tipoBusqueda = 2;

            updateTable();
        }

    }

    function showCarrers() {
        var x = document.getElementById("seleccion");
        if (x.checked) {
            var y = document.getElementById("todas");
            y.checked = false;
            var z = document.getElementById("aplicadas");
            z.checked = false;

            var selection = document.getElementById("carrerasSelect");
            selection.setAttribute("style", "display:block");

            // carrera;
            offer.carreraSeleccionada = $('.carrerasDiv option:selected').val();
           
            // tipo de busqueda: carrera
            offer.tipoBusqueda = 1;

            console.log("go");
        }
    }

    function offerClicked() {
        console.log("hola");
        window.location = "ver_oferta";

    }

</script>