@using Talento_TEC_MVC.Models
@model Registro_Inicial_Empresa
@{
    ViewBag.Title = "Registro inicial empresa";
}
<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 20%">
        Paso 1: Elección de cuenta
    </div>
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 20%">
        Paso 2: Información inicial
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 20%">
        Paso 3: Descripción empresa
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 20%">
        Paso 4: Inicio de sesión
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 20%">
        Paso 5: Finalizar
    </div>
</div>
<!-- Texto de Bienvenida -->
<h1>Registro de Empresas</h1>
<h3>Información Inicial</h3>
<br />
<p>Ingrese o modifique los datos de referencia de su empresa para poder acceder a los servicios de Talento TEC.</p>

<p>Los campos con un asterisco (*) denotan que son campos obligatorios de ingresar.</p>
<li role="presentation" class="divider-line"></li>

<form class="form-horizontal" role="form" method="post" action="RegistroEmpresa2.aspx" accept-charset="UTF-8" id="form_1">
    <!-- Informacion inicial -->
    <div class="form-group">
        <label class="control-label col-xs-6 col-sm-4 " for="nombre_empresa">Nombre comercial de la empresa  (*)</label>
        <div class="col-xs-6 col-sm-4">
            <input required="required" type="text" class="form-control" id="name" placeholder="" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-6 col-md-4" for="cedula">Cédula jurídica o identificación  (*)</label>
        <div class="col-xs-6 col-md-4">
            <input required="required" type="text" class="form-control" id="cedula" placeholder="" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-6 col-md-4" for="razon_social">Razón social de la empresa  (*)</label>
        <div class="col-xs-6 col-md-4">
            <input required="required" type="text" class="form-control" id="razon_social" placeholder="" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-6 col-md-4" for="direccion">Dirección  (*)</label>
        <div class="col-xs-6 col-md-4">
            <input required="required" type="text" class="form-control" id="direccion" placeholder="" />
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-xs-6 col-md-4" for="ciudad">Ciudad  (*)</label>
        <div class="col-xs-6 col-md-4">
            <input required="required" type="text" class="form-control" id="ciudad" placeholder="" />
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-xs-6 col-md-4" for="pais">País  (*)</label>
        <div class="col-xs-6 col-md-4">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Costa Rica <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu_pais">
                <li role="presentation"><a role="menuitem" href="#">Costa Rica</a></li>
                <li role="presentation"><a role="menuitem" href="#">México</a></li>
                <li role="presentation"><a role="menuitem" href="#">Estados Unidos</a></li>
                <!--
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li> -->
            </ul>
            <!-- <input required="required" type="text" class="form-control" id="pais" placeholder="" />-->
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-6 col-md-4" for="telefono">Teléfono  (*)</label>
        <div class="col-xs-6 col-md-4">
            <input required="required" type="text" class="form-control" id="telefono" placeholder="" />
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-xs-6 col-md-4" for="correo_electronico">Correo electrónico  (*)</label>
        <div class="col-xs-6 col-md-4">
            <input required="required" type="email" class="form-control" id="email" placeholder="" />
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-xs-6 col-md-4" for="pagina_web">Página web</label>
        <div class="col-xs-6 col-md-4">
            <input type="text" class="form-control" id="web_page" placeholder="" />
        </div>
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <li role="presentation" class="divider-line"></li>
    <!-- Persona de contacto -->
    <div class="form-group">
        <label class="control-label col-xs-6 col-md-4" for="persona_contacto">Persona de contacto</label>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-6 col-sm-3" for="nombre_contacto">Nombre  (*)</label>
        <div class="col-xs-6 col-sm-3">
            <input required="required" type="text" class="form-control" id="name_contact" placeholder="" />
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-xs-6 col-sm-3" for="nombre_cargo">Cargo  (*)</label>
        <div class="col-xs-6 col-sm-3">
            <input required="required" type="text" class="form-control" id="position_contact" placeholder="" />
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-xs-6 col-sm-3" for="correo_contacto">Correo electrónico  (*)</label>
        <div class="col-xs-6 col-sm-3">
            <input required="required" type="email" class="form-control" id="email_contact" placeholder="email@email.com" />
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-xs-6 col-sm-3" for="tel_contacto">Teléfono  (*)</label>
        <div class="col-xs-6 col-sm-3">
            <input required="required" type="email" class="form-control" id="phone_contact" placeholder="" aria-describedby="help" />
            <span id="help" class="help-block"> Esto es una ayuda </span>
        </div>

    </div>
    <div class="form-group">
        <!-- Espacio para situar los botones -->
        <label class="control-label col-md-1" for="tel_contacto"></label>
        <label class="control-label col-md-1" for="tel_contacto"></label>
        <label class="control-label col-md-1" for="tel_contacto"></label>
        <!------------------------------------------------------------------->
        <button type="button" class="btn btn-primary col-md-1">Anterior</button>

        <label class="control-label col-md-1" for="tel_contacto"></label>

        <!-- Este es el verdadero boton esta desactivado para no conectarlo
            <button type="submit" class="btn btn-primary btn-md col-md-1">Continuar</button> -->
        <button type="submit" class="btn btn-primary btn-md col-md-1" formaction="RegistroEmpresa2.aspx">Siguiente</button>
        <a href="@Url.Action("descripcion_empresa","Registro")">pass</a>
    </div>
</form>
<br />