@using Talento_TEC_MVC.Models.registro.empresa
@model registro_completo_empresa
@{
    ViewBag.Title = "Registro inicial empresa";
}
<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 20%">
        Paso 1: Elección de cuenta
    </div>
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 20%">
        Paso 2: Información inicial
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 20%">
        Paso 3: Descripción empresa
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 20%">
        Paso 4: Inicio de sesión
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 20%">
        Paso 5: Finalizar
    </div>
</div>
<!-- Texto de Bienvenida -->
<h1>Registro de Empresas</h1>
<h3>Información Inicial</h3>
<br />
<p>Ingrese o modifique los datos de referencia de su empresa para poder acceder a los servicios de Talento TEC.</p>

<p>Los campos con un asterisco (*) denotan que son campos obligatorios de ingresar.</p>
<li role="presentation" class="divider-line"></li>

@Html.Partial("../RegistroEmpresa/Info_Inicial_Empresa")


<br />