
@{
    ViewBag.Title = "Registrarse";
}
<div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 20%">
        Paso 1: Elección de cuenta
    </div>
</div>
<!-- Texto de Bienvenida -->
<h1>Registro en Talento TEC</h1>
<br />
<p>Los siguientes son los tres tipos de registros disponibles en Talento TEC. Favor de seleccionar sólo un tipo de registro.</p>
<p>Por favor seleccione una opción</p>
<br />
<div class="container" align="center">
    <a class="btn btn-lg btn-primary" href="@Url.Action("registro_inicial_estudiante", "Registro")" role="button"> Estudiante </a>
    <a class="btn btn-lg btn-primary" href="@Url.Action("info_inicial_empresa", "registroempresa")" role="button"> Empresa </a>
    <a class="btn btn-lg btn-primary" href="@Url.Action("registro_inicial_graduado", "Registro")" role="button"> Graduado </a>
</div>