
@{
    ViewBag.Title = "Oferta agregada exitosamente";
}

<!-- Texto de Bienvenida -->
<h1>Nueva Oferta Laboral</h1>
<h3>Finalización</h3>
<br />
<p>La oferta laboral se ha creado exitosamente. </p>

<div class="container" align="center">
    <a class="btn btn-lg btn-primary" href="@Url.Action("Index", "Home")" role="button"> Finalizar </a>

</div>



