
@{
    ViewBag.Title = "ver_ofertas";
}

<h2>Ver Ofertas</h2>
<p>En este apartado podrá filtrar sus ofertas según los siguientes criterios</p>

<li role="presentation" class="divider-line"></li>

<form action="">
    <div class="container">
        <input type="radio" id="todas" name="todas" value="todas" onclick="allClicked()"> Todas <br />
        <input type="radio" id="aplicadas" name="aplicadas" value="aplicadas" onclick="appliedClicked()"> Solamente las que aplicó <br />
        <input type="radio" id="seleccion" name="seleccion" value="seleccion" onclick="showCarrers()"> Seleccione una carrera
    </div>
</form>

<script>


</script>